<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                        http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
version="4.0">


	<display-name>sgb1</display-name>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.xhtml</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<context-param>
		<param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
    	<param-name>javax.faces.INTERPRET_EMPTY_STRING_SUBMITTED_VALUES_AS_NULL</param-name>
    	<param-value>true</param-value>
	</context-param>
	
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>

	<security-constraint>
		<display-name>Ancien pages</display-name>
		<web-resource-collection>
			<web-resource-name>Protected Ancien Area</web-resource-name>
			<description></description>
			<url-pattern>/addOffer.xhtml</url-pattern>
			<url-pattern>/userElements.xhtml</url-pattern>
		</web-resource-collection>
		
		<auth-constraint>
			<description></description>
			<role-name>ancien</role-name>
			<role-name>admin</role-name>
		</auth-constraint>

 		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>		
	</security-constraint>
	
	<security-constraint>
		<display-name>Admin pages</display-name>
		<web-resource-collection>
			<web-resource-name>Protected Admin Area</web-resource-name>
			<description></description>
			<url-pattern>/adminHome.xhtml</url-pattern>
			<url-pattern>/addEvent.xhtml</url-pattern>
			<url-pattern>/addPortrait.xhtml</url-pattern>					
			<url-pattern>/seeAllUsers.xhtml</url-pattern>					
		</web-resource-collection>
		
		<auth-constraint>
			<description></description>
			<role-name>admin</role-name>
		</auth-constraint>
		
 		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>		
	</security-constraint>
	
	<login-config>
		<auth-method>FORM</auth-method>
<!--  		<realm-name>utilisateursRealm</realm-name> 		-->
 		<realm-name>groupeB2Realm</realm-name>
		<form-login-config>
			<form-login-page>/login.xhtml</form-login-page>
			<form-error-page>/loginerror.xhtml</form-error-page>
		</form-login-config>
	</login-config>
</web-app>