@charset "ISO-8859-1";

#welcomeMessage{
	border-style: solid;
	width : 900px; 
	height : 100px;
}
#header {
	background-color: Seagreen;
}
#form{
	width : 600px;
}
#label{
	font-size : 20px;
}
#about{
	border-style: solid;
	width : 700px; 
	height : 400px;
	font-size : 20px;
}
#helha_logo{
	width : 300px;
	heigth : 200px;
}
.jumbotron.scroll{
	width : 1500px;
	overflow-x: hidden; 
	overflow-y: auto;
}
.row{
	text-align : center;
}
#eventOne{
	border-style: solid;
	border-radius : 5px;
}